.carousel-shop__nav {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    z-index: 200;
    display: flex;
  }
  
  .carousel-shop__nav-btn {
    position: relative;
    display: block;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity .3s ease-in, transform .3s ease-in;
    font-size: 18px;
    line-height: 18px;
    color: #fff;

    span {
      width: 17px;
      height: 17px;
    }
  
    span::before {
      position: absolute;
      top: 0;
      left: 50%;
      content: '';
      width: 5px;
      height: 11px;
      transform: translateX(-50%);
      background: #fff;
    }
  
    span::after {
      position: absolute;
      bottom: -8px;
      left: 50%;
      content: '';
      transform: translateX(-50%);
      border-top: 8px solid #fff;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
      border-bottom: 8px solid transparent;
    }
  }
  
  .carousel-shop__nav-prev span {
    position: absolute;
    top: 0px;
    left: -20px;
    transform: rotate(90deg);
  
    &:hover {
      opacity: 1;
    }
  }
  
  .carousel-shop__nav-next span {
    position: absolute;
    bottom: 0px;
    right: -20px;
    transform: rotate(-90deg);
  
    &:hover {
      opacity: 1;
    }
  }