.carousel-choice-circle {
  position: absolute;
  bottom: 0%;
  left: 50%;
  z-index: 300;
  transform: translateX(-50%);
  
  @media (min-width: 980px) {
    width: 86px;
    bottom: auto;
    top: 50%;
    left: 55px;
    transform: translateY(-50%) translateX(0%);
  }
}

.carousel-choice-circle__text {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.4;
  color: rgb(255, 255, 255);
  font-family: "Roboto-Light";
  text-align: center;

  span:first-child {
    font-size: 14px;
    letter-spacing: 2px;
  }
}

.carousel-choice-circle-wrap {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #00d2ff, #00d0ff00) 0 100% 0;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    content: "";
    background: #00d2ff;
  }

  @media (min-width: 980px) {
    padding: 20px 0;
    flex-direction: column;
  }
}

.carousel-choice-circle-label {
  position: relative;
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: -9px;
    left: -9px;
    width: 52px;
    height: 52px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: transparent;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0s;
  }
}

.carousel-choice-circle-radio {
  position: absolute;
  left: -99999px;
}

.carousel-choice-circle-item + .carousel-choice-circle-item {
  margin-left: 20px;
}

@media (min-width: 980px) {
  .carousel-choice-circle-item + .carousel-choice-circle-item {
    margin-top: 20px;
    margin-left: 0;
  }
}

.carousel-choice-circle
  .carousel-choice-circle-item:nth-child(1)
  .carousel-choice-circle-label {
  background: #008aff;

  &::before {
    border: 2px solid #008aff;
  }
}

.carousel-choice-circle
  .carousel-choice-circle-item:nth-child(2)
  .carousel-choice-circle-label {
  background: #fff;

  &::before {
    border: 2px solid #fff;
  }
}

.carousel-choice-circle
  .carousel-choice-circle-item:nth-child(3)
  .carousel-choice-circle-label {
  background: #00fff6;

  &::before {
    border: 2px solid #00fff6;
  }
}

.carousel-choice-circle
  .carousel-choice-circle-item:nth-child(4)
  .carousel-choice-circle-label {
  background: #ff0000;

  &::before {
    border: 2px solid #ff0000;
  }
}

.carousel-choice-circle
  .carousel-choice-circle-item:nth-child(5)
  .carousel-choice-circle-label {
  background: #ffea00;

  &::before {
    border: 2px solid #ffea00;
  }
}

.carousel-choice-circle-radio:checked + .carousel-choice-circle-label {
  &::before {
    opacity: 1;
  }
}
