.header {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 60px;
  padding: 0 20px 0 120px;
  width: calc(100% - 120px);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  z-index: 100;
}

.header__logo {
}

.header__logo-link {
  position: relative;
  display: inline-flex;
  text-decoration: none;
}

.header__logo-link:hover {
  .header__logo-link-title,
  .header__logo-link-subtitle {
    text-shadow: 1px 1px 2px #ffffff;
  }

  .header__logo-link-title::before {
    height: 100%;
  }

  .header__logo-link-subtitle::after {
    height: 100%;
  }
}

.header__logo-link-title {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  font-size: 24px;
  font-family: "Roboto-Bold";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 24px;
  text-shadow: 1px 1px 2px #00fcff;
  transition: color 0.4s ease-in-out, text-shadow 0.4s ease-in-out;

  &::before {
    position: absolute;
    content: attr(data-logo);
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    color: #00fcff;
    white-space: nowrap;
    overflow: hidden;
    transition: height .4s ease-out;
    text-overflow: ellipsis;
  }
}

.header__logo-link-subtitle {
  position: relative;
  font-size: 18px;
  font-family: "Roboto-Bold";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 18px;
  text-shadow: 1px 1px 2px #00fcff;
  transition: color 0.4s ease-in-out, text-shadow 0.4s ease-in-out;

  &::before {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #00fcff;
  }

  &::after {
    position: absolute;
    content: attr(data-logo);
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    color: #00fcff;
    white-space: nowrap;
    overflow: hidden;
    transition: height .4s ease-out;
    text-overflow: ellipsis;
  }
}

.header__navbar {
  display: flex;
}
.header__navbar-item {
  display: flex;
  align-items: center;
}

.header__navbar-item + .header__navbar-item {
  margin-left: 20px;
}

.header__navbar-input {
  margin-right: 30px;
  height: 30px;
  width: 250px;
  padding: 5px;
  color: #00fcff;
  font-family: "Roboto-Light";
  border: 2px solid #00fcff;
  background-color: rgba(255, 255, 255, 0.25);
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s ease-in-out;

  &::placeholder {
    color: #00fcff;
    font-family: "Roboto-Light";
  }
}

.header__navbar-input--active {
  visibility: visible;
  opacity: 1;
}

.header__navbar-search {
  position: relative;
  padding: 0;
  display: inline-block;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background: transparent;
  transition: filter 0.4s linear;

  &:hover {
    filter: drop-shadow(1px 1px 15px #00fcff);
  }
}

.header__navbar-cart {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transition: filter 0.4s linear;

  &:hover {
    filter: drop-shadow(1px 1px 15px #00fcff);
  }
}

.header__navbar-cart:hover .header__navbar-cart-title {
  color: #00fcff;
}

.header__navbar-cart-svg,
.header__navbar-search-svg {
  width: 25px;
  height: 25px;
}

.header__navbar-cart-title {
  margin-left: 5px;
  font-size: 14px;
  font-family: "Roboto-Light";
  color: rgb(255, 255, 255);
  line-height: 14px;
  transition: color 0.4s linear;
}

.header__navbar-favorite-row {
  display: flex;
  align-items: center;
}

.header__navbar-favorite, .footer__features-favorite {
  display: inline-flex;
  padding: 0;
  position: relative;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background: url("../images/svg/favorite.png") center center / contain
    no-repeat;
  transition: filter 0.4s linear, background 0.4s linear, opacity 0.4s linear;

  &:hover {
    filter: drop-shadow(1px 1px 15px #ff2600);
    background: url("../images/svg/favorite-on.png") center center / contain
      no-repeat;
    opacity: 0.7;
  }
}

.header__navbar-favorite--on {
  background: url("../images/svg/favorite-on.png") center center / contain
    no-repeat;
}

.header__navbar-favorite--on::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: url("../images/svg/favorite-on.png") center center / contain
    no-repeat;
  width: 25px;
  height: 25px;
  opacity: 0;
  animation: favorite-big 3s linear 1s infinite alternate;
}

.header__navbar-favorite-title {
  margin-left: 5px;
  font-size: 14px;
  font-family: "Roboto-Light";
  color: rgb(255, 255, 255);
  line-height: 14px;
}

.header__burger {
  position: absolute;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0;
  top: 50%;
  right: -45px;
  width: 28px;
  height: 28px;
  background: transparent;
  border: none;
  transform: translateY(-50%);
}

.header__burger:hover .header__burger-box:nth-child(2n) {
  opacity: 0;
}

.header__burger-box {
  display: block;
  margin: 2px;
  width: 5px;
  height: 5px;
  background: #00fcff;
  transition: opacity 0.4s ease-in-out;
}

.header__navbar-sign-in {
  border: none;
  outline: none;
  background: transparent;
  margin-left: 5px;
  font-size: 14px;
  font-family: "Roboto-Light";
  color: rgb(255, 255, 255);
  line-height: 14px;
  transition: filter 0.4s linear;

  &:hover {
    filter: drop-shadow(1px 1px 15px #00fcff);
  }

  span {
    margin-left: 5px;
  }
}
