<section class="carousel">
    <div class="carousel-shop">

    </div>
    <div class="carousel-choice-circle">
        <input type="radio" name="choice-circle-radio" class="carousel-choice-circle-item">
        <input type="radio" name="choice-circle-radio" class="carousel-choice-circle-item">
        <input type="radio" name="choice-circle-radio" class="carousel-choice-circle-item">
        <input type="radio" name="choice-circle-radio" class="carousel-choice-circle-item">
        <input type="radio" name="choice-circle-radio" class="carousel-choice-circle-item">
    </div>
</section>