<section class="carousel">
    <div class="carousel-shop owl-carousel owl-theme">
        <div class="carousel-shop__item">
            <h3 class="carousel-shop__text">Select Product image to display:</h3>
            <div class="carousel-shop__gallery">
                <div class="carousel-shop__gallery-item carousel-shop__gallery-item--active" data-item='blue' style="--i:1;">
                    <img src="./images/headphone-mini/beats/01.png" alt="headphone-01">
                </div>
                <div class="carousel-shop__gallery-item" data-item='white' style="--i:2;">
                    <img src="./images/headphone-mini/beats/02.png" alt="headphone-02">
                </div>
                <div class="carousel-shop__gallery-item" data-item='aqua' style="--i:3;">
                    <img src="./images/headphone-mini/beats/03.png" alt="headphone-03">
                </div>
                <div class="carousel-shop__gallery-item" data-item='red' style="--i:4;">
                    <img src="./images/headphone-mini/beats/04.png" alt="headphone-04">
                </div>
                <div class="carousel-shop__gallery-item" data-item='yellow' style="--i:5;">
                    <img src="./images/headphone-mini/beats/05.png" alt="headphone-05">
                </div>
            </div>
            <div class="carousel-shop__title-wrap">
                <h2 class="carousel-shop__title"><span>b</span><span>l</span><span>u</span></h2>
                <h2 class="carousel-shop__title"><span>e</span><span>d</span><span>i</span><span>o</span></h2>
            </div>
            <div class="carousel-shop__item-img" data-item="1">
                <img src="./images/headphone-mini/beats/01.png" alt="beats-01">
            </div>
        </div>
        <div class="carousel-shop__item">
            <h3 class="carousel-shop__text">Select Product image to display:</h3>
            <div class="carousel-shop__gallery">
                <div class="carousel-shop__gallery-item carousel-shop__gallery-item--active" style="--i:1;">
                    <img src="./images/headphone-mini/2.png" alt="headphone-01">
                </div>
                <div class="carousel-shop__gallery-item" style="--i:2;">
                    <img src="./images/headphone-mini/1.png" alt="headphone-01">
                </div>
                <div class="carousel-shop__gallery-item" style="--i:3;">
                    <img src="./images/headphone-mini/3.png" alt="headphone-01">
                </div>
                <div class="carousel-shop__gallery-item" style="--i:4;">
                    <img src="./images/headphone-mini/4.png" alt="headphone-01">
                </div>
            </div>
            <div class="carousel-shop__title-wrap">
                <h2 class="carousel-shop__title"><span>b</span><span>l</span><span>u</span></h2>
                <h2 class="carousel-shop__title"><span>e</span><span>d</span><span>i</span><span>o</span></h2>
            </div>
            <div class="carousel-shop__item-img" data-item="2">
                <img src="./images/headphone-mini/2.png" alt="">
            </div>
        </div>
        <div class="carousel-shop__item">
            <h3 class="carousel-shop__text">Select Product image to display:</h3>
            <div class="carousel-shop__gallery">
                <div class="carousel-shop__gallery-item carousel-shop__gallery-item--active">
                    <img src="./images/headphone-mini/1.png" alt="headphone-01">
                </div>
                <div class="carousel-shop__gallery-item">
                    <img src="./images/headphone-mini/2.png" alt="headphone-01">
                </div>
                <div class="carousel-shop__gallery-item">
                    <img src="./images/headphone-mini/5.png" alt="headphone-01">
                </div>
                <div class="carousel-shop__gallery-item">
                    <img src="./images/headphone-mini/4.png" alt="headphone-01">
                </div>
            </div>
            <div class="carousel-shop__title-wrap">
                <h2 class="carousel-shop__title"><span>b</span><span>l</span><span>u</span></h2>
                <h2 class="carousel-shop__title"><span>e</span><span>d</span><span>i</span><span>o</span></h2>
            </div>
            <div class="carousel-shop__item-img" data-item="3">
                <img src="./images/headphone-mini/3.png" alt="">
            </div>
        </div>
        <div class="carousel-shop__item">
            <h3 class="carousel-shop__text">Select Product image to display:</h3>
            <div class="carousel-shop__gallery">
                <div class="carousel-shop__gallery-item carousel-shop__gallery-item--active">
                    <img src="./images/headphone-mini/4.png" alt="headphone-01">
                </div>
                <div class="carousel-shop__gallery-item">
                    <img src="./images/headphone-mini/2.png" alt="headphone-01">
                </div>
                <div class="carousel-shop__gallery-item">
                    <img src="./images/headphone-mini/3.png" alt="headphone-01">
                </div>
                <div class="carousel-shop__gallery-item">
                    <img src="./images/headphone-mini/1.png" alt="headphone-01">
                </div>
            </div>
            <div class="carousel-shop__title-wrap">
                <h2 class="carousel-shop__title"><span>b</span><span>l</span><span>u</span></h2>
                <h2 class="carousel-shop__title"><span>e</span><span>d</span><span>i</span><span>o</span></h2>
            </div>
            <div class="carousel-shop__item-img"  data-item="4">
                <img src="./images/headphone-mini/4.png" alt="">
            </div>
        </div>
        <div class="carousel-shop__item">
            <h3 class="carousel-shop__text">Select Product image to display:</h3>
            <div class="carousel-shop__gallery">
                <div class="carousel-shop__gallery-item carousel-shop__gallery-item--active">
                    <img src="./images/headphone-mini/5.png" alt="headphone-01">
                </div>
                <div class="carousel-shop__gallery-item">
                    <img src="./images/headphone-mini/2.png" alt="headphone-01">
                </div>
                <div class="carousel-shop__gallery-item">
                    <img src="./images/headphone-mini/3.png" alt="headphone-01">
                </div>
                <div class="carousel-shop__gallery-item">
                    <img src="./images/headphone-mini/4.png" alt="headphone-01">
                </div>
            </div>
            <div class="carousel-shop__title-wrap">
                <h2 class="carousel-shop__title"><span>b</span><span>l</span><span>u</span></h2>
                <h2 class="carousel-shop__title"><span>e</span><span>d</span><span>i</span><span>o</span></h2>
            </div>
            <div class="carousel-shop__item-img"  data-item="5">
                <img src="./images/headphone-mini/5.png" alt="">
            </div>
        </div>
        <div class="carousel-shop__item">
            <h3 class="carousel-shop__text">Select Product image to display:</h3>
            <div class="carousel-shop__gallery">
                <div class="carousel-shop__gallery-item carousel-shop__gallery-item--active">
                    <img src="./images/headphone-mini/6.png" alt="headphone-01">
                </div>
                <div class="carousel-shop__gallery-item">
                    <img src="./images/headphone-mini/beats/02.png" alt="headphone-01">
                </div>
                <div class="carousel-shop__gallery-item">
                    <img src="./images/headphone-mini/beats/03.png" alt="headphone-01">
                </div>
                <div class="carousel-shop__gallery-item">
                    <img src="./images/headphone-mini/beats/04.png" alt="headphone-01">
                </div>
            </div>
            <div class="carousel-shop__title-wrap">
                <h2 class="carousel-shop__title"><span>b</span><span>l</span><span>u</span></h2>
                <h2 class="carousel-shop__title"><span>e</span><span>d</span><span>i</span><span>o</span></h2>
            </div>
            <div class="carousel-shop__item-img" data-item="6">
                <img src="./images/headphone-mini/6.png" alt="">
            </div>
        </div>
    </div>
    <div class="carousel-shop__dots-wrap">
        <div class="carousel-shop__dots" id="carousel-custom-dots">
            <div class="owl-dots">
                <img src="./images/headphone-mini/beats/01.png" alt="headphone-01">
                <div class="owl-dots__title"><span>BLU</span><span>EDIO</span></div>
            </div>
            <div class="owl-dots">
                <img src="./images/headphone-mini/2.png" alt="headphone-mini-02">
                <div class="owl-dots__title"><span>BLU</span><span>EDIO</span></div>
            </div>
            <div class="owl-dots">
                <img src="./images/headphone-mini/1.png" alt="headphone-mini-01">
                <div class="owl-dots__title"><span>BLU</span><span>EDIO</span></div>
            </div>
            <div class="owl-dots">
                <img src="./images/headphone-mini/4.png" alt="headphone-mini-04">
                <div class="owl-dots__title"><span>BLU</span><span>EDIO</span></div>
            </div>
            <div class="owl-dots">
                <img src="./images/headphone-mini/5.png" alt="headphone-mini-05">
                <div class="owl-dots__title"><span>BLU</span><span>EDIO</span></div>
            </div>
            <div class="owl-dots">
                <img src="./images/headphone-mini/6.png" alt="headphone-mini-06">
                <div class="owl-dots__title"><span>BLU</span><span>EDIO</span></div>
            </div>
        </div>
        <div class="carousel-shop__nav">
            <button class="carousel-shop__nav-btn carousel-shop__nav-prev" id="shop-nav-prev"><span class="carousel-shop__nav-prev-text">Prev</span><span class="carousel-shop__nav-prev-arrow"></span></button>
            <button class="carousel-shop__nav-btn carousel-shop__nav-next" id="shop-nav-next"><span class="carousel-shop__nav-next-text">Next</span><span class="carousel-shop__nav-next-arrow"></span></button>
        </div>
    </div>
    <div class="carousel-choice-circle">
        <h4 class="carousel-choice-circle__text">
            <span>AVAILABLE</span>
            <span>COLOURS</span>
        </h4>
        <div class="carousel-choice-circle-wrap">
            <div class="carousel-choice-circle-item">
                <input type="radio" name="choice-circle-radio" class="carousel-choice-circle-radio" id="choice-circle-blue" checked>
                <label for="choice-circle-blue" class="carousel-choice-circle-label" data-circle='blue'><span></span></label>
            </div>
            <div class="carousel-choice-circle-item">
                <input type="radio" name="choice-circle-radio" class="carousel-choice-circle-radio" id="choice-circle-white">
                <label for="choice-circle-white" class="carousel-choice-circle-label" data-circle='white'><span></span></label>
            </div>
            <div class="carousel-choice-circle-item">
                <input type="radio" name="choice-circle-radio" class="carousel-choice-circle-radio" id="choice-circle-green">
                <label for="choice-circle-green" class="carousel-choice-circle-label" data-circle='aqua'><span></span></label>
            </div>
            <div class="carousel-choice-circle-item">
                <input type="radio" name="choice-circle-radio" class="carousel-choice-circle-radio" id="choice-circle-red">
                <label for="choice-circle-red" class="carousel-choice-circle-label" data-circle='red'><span></span></label>
            </div>
            <div class="carousel-choice-circle-item">
                <input type="radio" name="choice-circle-radio" class="carousel-choice-circle-radio" id="choice-circle-yellow">
                <label for="choice-circle-yellow" class="carousel-choice-circle-label" data-circle='yellow'><span></span></label>
            </div>
        </div>
    </div>
</section>