<section class="cart">
    <h3 class="cart__table-title">Cart</h3>
    <div class="cart__table">
        <ul class="cart__table-first-row">
            <li class="cart__table-item">
                <h5 class="cart__table-nav-title">Product</h5>
            </li>
            <li class="cart__table-item">
                <h5 class="cart__table-nav-title">Price</h5>
            </li>
            <li class="cart__table-item">
                <h5 class="cart__table-nav-title">Quantity</h5>
            </li>
            <li class="cart__table-item">
                <h5 class="cart__table-nav-title">Сost</h5>
            </li>
        </ul>
        <ul class="cart__table-row">
            <li class="cart__table-item">
                <div class="cart__table-item-wrap">
                    <a href="index.html" class="cart__table-item-link">
                        <img src="./images/headphone-mini/6.png" alt="">
                    </a>
                    <div class="cart__table-item-text">
                        <p class="cart__table-item-data">China 2021</p>
                        <h3 class="cart__table-item-title">Beats SOLO PRO</h3>
                        <h4 class="cart__table-item-meta">Black color</h4>
                        <p class="cart__table-item-desc">Enjoy powerful, balanced sound with the Solo Pro Wireless headphones with Active noise reduction.
                            Enjoy powerful, balanced sound with the Solo Pro Wireless headphones with Active noise reduction.
                        </p>
                    </div>
                </div>
            </li>
            <li class="cart__table-item">
                <span data-price>599.9</span><span>$</span>
            </li>
            <li class="cart__table-item">
                <button class="cart__table-btn" data-min>-</button>
                <div class="cart__table-result" data-quantity>1</div>
                <button class="cart__table-btn" data-plus>+</button>
            </li>
            <li class="cart__table-item">
                <p class="cart__table-cost" data-cost>599.9</p><span>$</span>
            </li>
        </ul>
        <ul class="cart__table-row">
            <li class="cart__table-item">
                <div class="cart__table-item-wrap">
                    <a href="index.html" class="cart__table-item-link">
                        <img src="./images/headphone-mini/6.png" alt="">
                    </a>
                    <div class="cart__table-item-text">
                        <p class="cart__table-item-data">China 2021</p>
                        <h3 class="cart__table-item-title">Beats SOLO PRO</h3>
                        <h4 class="cart__table-item-meta">Black color</h4>
                        <p class="cart__table-item-desc">Enjoy powerful, balanced sound with the Solo Pro Wireless headphones with Active noise reduction.
                            Enjoy powerful, balanced sound with the Solo Pro Wireless headphones with Active noise reduction.
                        </p>
                    </div>
                </div>
            </li>
            <li class="cart__table-item">
                <span data-price>639.9</span><span>$</span>
            </li>
            <li class="cart__table-item">
                <button class="cart__table-btn" data-min>-</button>
                <div class="cart__table-result" data-quantity>1</div>
                <button class="cart__table-btn" data-plus>+</button>
            </li>
            <li class="cart__table-item">
                <p class="cart__table-cost" data-cost>659.9</p><span>$</span>
            </li>
        </ul>
        <ul class="cart__table-last-row">
            <li class="cart__table-item">
                <div class="cart__table-total">
                    <span>Total:</span><span data-cart-total></span>
                </div>
            </li>
            <li class="cart__table-item">
                <button type="submit" class="cart__table-buy" data-cart-buy>Buy</button>
            </li>
        </ul>
    </div>
</section>