<footer class="footer">
    <div class="footer__payment">
        <h3 class="footer__payment-title">Payment Options:</h3>
        <div class="footer__payment-item-wrap">
            <div class="footer__payment-item">
                <img src="./images/payment/visa.png" alt="visa">
            </div>
            <div class="footer__payment-item">
                <img src="./images/payment/mastercard.png" alt="mastercard">
            </div>
            <div class="footer__payment-item">
                <img src="./images/payment/webmoney.png" alt="webmoney">
            </div>
            <div class="footer__payment-item">
                <img src="./images/payment/western-union.png" alt="western union">
            </div>
            <div class="footer__payment-item">
                <img src="./images/payment/bank-transfer.png" alt="Bank Transfer">
            </div>
        </div>
    </div>
    <div class="footer__features">
        <div class="footer__features-table">
            <div class="footer__features-table-col">
                <h4 class="footer__features-table-title">FEATURES:</h4>
                <ul class="footer__features-table-links">
                    <li class="footer__features-table-links-items">
                        <a href="#" class="footer__features-table-link">3D Stereo Music Sound</a>
                    </li>
                    <li class="footer__features-table-links-items">
                        <a href="#" class="footer__features-table-link">Air Control Music String</a>
                    </li>
                    <li class="footer__features-table-links-items">
                        <a href="#" class="footer__features-table-link">24 BIT Music Transmit</a>
                    </li>
                </ul>
            </div>
            <div class="footer__features-table-col">
                <ul class="footer__features-table-links">
                    <li class="footer__features-table-links-items">
                        <a href="#" class="footer__features-table-link">Line in/Line out</a>
                    </li>
                    <li class="footer__features-table-links-items">
                        <a href="#" class="footer__features-table-link">Compatible with Android/iPhones</a>
                    </li>
                    <li class="footer__features-table-links-items">
                        <a href="#" class="footer__features-table-link">57mm Ultra Big Drive Units for Bass</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__features-social">
            <button class="footer__features-favorite" id='footer-favorite'></button>
            <a href="#" class="footer__features-link">ADD TO CART</a>
        </div>
    </div>
</footer>
