<section class="sidebar" id="sidebar">
    <ul class="sidebar__nav">
        <li class="sidebar__nav-item">
            <a href="#" class="sidebar__nav-link">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="sidebar__nav-item">
            <a href="#" class="sidebar__nav-link">
                <i class="fa fa-building" aria-hidden="true"></i>
                <span>About us</span>
            </a>
        </li>
        <li class="sidebar__nav-item">
            <a href="#" class="sidebar__nav-link">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>Sign in</span>
            </a>
        </li>
        <li class="sidebar__nav-item">
            <a href="#" class="sidebar__nav-link">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <span>Settings</span>
            </a>
        </li>
        <li class="sidebar__nav-item">
            <a href="#" class="sidebar__nav-link">
                <i class="fa fa-commenting" aria-hidden="true"></i>
                <span>Comments</span>
            </a>
        </li>
        <li class="sidebar__nav-item">
            <a href="#" class="sidebar__nav-link">
                <i class="fa fa-headphones" aria-hidden="true"></i>
                <span>Products</span>
            </a>
        </li>
        <li class="sidebar__nav-item">
            <a href="#" class="sidebar__nav-link">
                <i class="fa fa-address-book" aria-hidden="true"></i>
                <span>Help</span>
            </a>
        </li>
        <li class="sidebar__nav-item">
            <a href="#" class="sidebar__nav-link">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <span>Info</span>
            </a>
        </li>
    </ul>
</section>